mat-toolbar {
    background-color: #3cb371 !important;
}

mat-form-field {
    padding-top: 5px;
    margin-left: 8px;
}

.alignLeft {
    margin-left: 0px;
}

.alignRight {
    padding-right: 5px;
    text-align: right;
}
